---
import { FaGithub, FaLinkedin, FaEnvelope, FaPhoneAlt  } from "react-icons/fa";
---

<div class="flex flex-col items-center bg-fondo-claro" id="contact_me">
    <h2 class="subtitle mt-20">CONTACTAME</h2>
    <div class="my-7 w-[90%] text-center flex flex-col items-center gap-7 text-lg desktop:w-1/2">
      <p>Si estás buscando un desarrollador comprometido, con un fuerte enfoque en la responsabilidad y el trabajo en equipo, no dudes en contactarme. Estoy listo para aportar mi pasión y habilidades a tu próximo proyecto.</p>
      <div class="flex flex-col gap-7 ">
        <span class="flex items-center gap-5"><FaEnvelope/> ednilsonluis.11@gmail.com</span>
        <span class="flex items-center gap-5"><FaPhoneAlt/> +51 913 536 441</span>
        <div class="flex flex-col gap-3">
          <h4>Otras redes</h4>
          <div class="flex justify-center gap-6">
            <a
              href="https://github.com/luismeza1101"
              target="black"
              class="custom-icon"
            >
              <FaGithub />
            </a>
            <a
              href="https://www.linkedin.com/feed/"
              target="blanck"
              class="custom-icon"
            >
              <FaLinkedin />
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>